.classes-list{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 90%;
}
.error-classes-list{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.classes-list-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.classes-list-add-button{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.classes-list-table{
    width: 100%;
}

.classes-list-table td{
    padding: 10px;
}

.classes-list-company{
    display: flex;
    align-items: center;
    gap: 10px;
}

.classes-list-company-image{
    border-radius: 50%;
    object-fit: cover;
}
.classes-list-buttons{
    display: flex;
    gap:10px    
}
.classes-list-button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.classes-list-view{
    background-color: teal;
}

.classes-list-delete{
    background-color: teal;
}