.sent-dictations-list{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 90%;
}
.sent-dictations-list-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sent-dictations-list-update{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sent-dictations-list-table{
    width: 100%;
}

.sent-dictations-list-table td{
    padding: 10px;
}
.sent-dictations-list-buttons{
    display: flex;
    gap:10px    
}
.sent-dictations-button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.sent-dictations-list-view{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sent-dictations-list-date-input{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    
}
.sent-dictations-list-choose-date{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.623);
    display: grid;
    position: fixed;
    place-content: center;
    z-index: 1000;
    gap: 5vw;
}
.sent-dictations-list-update-date{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

}
.sent-dictations-list-delete{
    background-color: teal;
    
  }
.sent-dictations-list-update-date-close{
    width: 20px;
    background-color: rgba(19, 5, 36, 0);
    color: white;
    border: none;
    
}
.sent-dictations-list-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
}

.error-drafts-list{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 90%;
}
.sent-dictations-list-choose-date-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(28, 28, 40, 0.011);
    padding: 50px;
    border-radius: 20px;
    border: solid 1px ;

    


}
