.sent-dictation-from-all-users-list{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.sent-dictation-from-all-users-list-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sent-dictation-from-all-users-list-table{
    width: 100%;
}

.sent-dictation-from-all-users-list-table td{
    padding: 10px;
}
.sent-dictation-from-all-users-list-buttons{
    display: flex;
    gap:10px    
}
.sent-dictation-from-all-users-list-button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.sent-dictation-from-all-users-list-view{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sent-dictation-from-all-users-list-change-input{
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    
}
.sent-dictation-from-all-users-list-change{
width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.623);
    display: grid;
    position: fixed;
    place-content: center;
    z-index: 1000;
    gap: 5vw;
}
.sent-dictation-from-all-users-list-update {
   
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.sent-dictations-from-all-users-list-close{
    width: 20px;
    background-color: rgba(19, 5, 36, 0);
    color: white;
    border: none;
}
.sent-dictations-from-all-users-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(28, 28, 40, 0.011);
    padding: 50px;
    border-radius: 20px;
    border: solid 1px ;

    


}

